[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hrefs"
authors = [{name = "Jaakko Moisio", email = "jaakko@moisio.fi"}]
classifiers = ["License :: OSI Approved :: MIT License"]
dynamic = ["version", "description"]
requires-python=">=3.7"

dependencies = [
  "pydantic>=1.7",
  "starlette"
]

[project.optional-dependencies]
test = [
  "pytest>=6.2",
  "hypothesis>=6.24",
  "fastapi"
]

dev = [
  "black",
  "pylint",
  "mypy",
]

docs = [
  "sphinx",
  "sphinx-rtd-theme",
]

[project.urls]
Home = "https://github.com/jasujm/hrefs"
